<style>
</style>

<h1>History: </h1>
<ul >
<% @history.each do |history| %>
    <li><a><%= history.description %></a></li>
<% end %>
</ul>

<button id="myButton" class="float-left submit-button" >Home</button>

<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "/users/<%= @user_id %>";
    };
</script>

