<h1 align="center">Sign up</h1>

<div class="row">
  <div class="span6 offset3", align="center">
    <%= form_for(@user) do |f| %>

      <p>   Name:
      <%= f.text_field :name %></p>

      <p>Password:
      <%= f.password_field :password %></p>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>